textarea#text,textarea#text2,textarea#text3 {
    height: 300px; width: 100%; font-family: LMMath-bbfix, "Times New Roman"; font-size: 16px;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
padding: 0px; border: 0px; margin-bottom:-2px;}
pre code#latex{ width:98%; font-family: LMMath-bbfix; font-size: 16px; }
pre code#markdown{ width:98%; font-family: LMMath-bbfix; font-size: 16px; }
pre#latexpre { min-height: 1200px; width: 98%; overflow: hidden; }
pre#markdownpre { min-height: 1200px; width: 98%; overflow: hidden; }

div#preview { min-height: 1200px; width: 98%; overflow: hidden; font-family: Latin-Modern; font-size:16px; }
div.row { margin-top: 1em; }
blockquote { font-size: 100%; }
footer { color: #555; text-align: center; margin: 1em; }
pre { display: block; padding: 0.5em; color: #333; background: #f8f8ff }
#warnings li { color: red; font-weight: bold; }
label { padding-left: 1em; padding-top: 0; padding-bottom: 0; }
p.timing { color: red; }
span.timing { font-weight: bold; }
span.timing { font-weight: bold; }


@font-face {
    font-family: "LMMath-bbfix";
    src: url("LMMath-bbfix.otf");
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-regular.otf");
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-italic.otf");
    font-style: italic;
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}