textarea#text,textarea#text2,textarea#text3 {
    height: 200px; width: 100%; font-family: LMMath-bbfix, "Times New Roman"; font-size: 17px;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
padding-bottom: 0px; border: 0px; margin-bottom:0px;}

textarea#text2,textarea#text3 {
    height: 200px;
}

textarea#text3 {
    height: 200px;
    display: none;
}

form,input {
    background-color: white;
}

pre code#latex{ width:98%; font-family: LMMath-bbfix; font-size: 17px; }
pre code#latex1{ width:98%; font-family: LMMath-bbfix; font-size: 17px; }
pre code#latex2{ width:98%; font-family: LMMath-bbfix; font-size: 17px; }
pre code#title2{ width:98%; font-family: LMMath-bbfix; font-size: 17px; }
pre code.latex{ width:98%; font-family: LMMath-bbfix; font-size: 17px; }

div#preview2 div { border: 1px solid black; padding-top:17px; padding-bottom:17px;}
pre code#markdown{ width:98%; font-family: LMMath-bbfix; font-size: 17px; }
pre#latexpre { min-height: 950px; width: 98%; overflow: hidden; font-family: LMMath-bbfix; font-size: 17px; }
pre#markdownpre { min-height: 950px; width: 98%; overflow: hidden; }

div#preview { min-height: 950px; width: 100%; overflow: hidden; font-family: Latin-Modern; font-size:17px; }
div#preview1 {display:block; width:500px; }
div#preview2 {position:absolute; display:block; width:350px; left:525px; top:0px;}
div.row { margin-top: 1em; }
blockquote { font-size: 100%; }
footer { color: #555; text-align: center; margin: 1em; }
pre { display: block; padding: 0.5em; color: #333; background: #f8f8ff }
#warnings li { color: red; font-weight: bold; }
label { padding-left: 1em; padding-top: 0; padding-bottom: 0; }
p.timing { color: red; }
span.timing { font-weight: bold; }
span.timing { font-weight: bold; }


@font-face {

    font-family: "LMMath-bbfix";
    src: url("LMMath-bbfix.woff") format("woff");
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-regular.otf");
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-italic.otf");
    font-style: italic;
}
@font-face {
    font-family: "Latin-Modern";
    src: url("lmroman10-bolditalic.otf");
    font-weight: bold;
    font-style: italic;
}