textarea#text { height: 400px; width: 95%; font-family: LMMath-bbfix; font-size: 17px; }
pre code#latex { font-family: LMMath-bbfix; font-size: 17px; }
pre#latexpre { height: 400px; width: 95%; overflow: scroll; }
div#preview { height: 400px; overflow: scroll; font-family: LMMath-bbfix; font-size:17px; }
div.row { margin-top: 1em; }
blockquote { font-size: 100%; }
footer { color: #555; text-align: center; margin: 1em; }
pre { display: block; padding: 0.5em; color: #333; background: #f8f8ff }
#warnings li { color: red; font-weight: bold; }
label { padding-left: 1em; padding-top: 0; padding-bottom: 0; }
p.timing { color: red; }
span.timing { font-weight: bold; }
span.timing { font-weight: bold; }
@font-face {
    font-family: LMMath-bbfix;
    src: url('LMMath-bbfix.otf');
}
